
.about-us-container {
    width: 95%;
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    text-align: justify;
    max-height: 80vh;
    overflow-y: auto;

  }
  
  .about-us-heading {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-us-description {
    color: #666;
    margin-bottom: 30px;
    text-align: center;
    
  }
  
  .about-us-content {
    margin-bottom: 20px;
  }

  .about-us-content p{
    font-size: 10px;
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }


  